* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.root {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text {
    font: 30px;
    margin-bottom: 20px;
}
.container {
    width: 50vw;
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
}
.load {
    width: 0;
    height: 100%;
    background-color: #edc354;
    border-radius: 4px;
    transition: width .2s linear;

}